<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">details of Command </h5>
        <button type="button" class="close" aria-label="Close" (click)="detailHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="thead-dark">
            <th>Field</th>
            <th>Value</th>
          </thead>
          <tbody>
           <tr >
             <td>id</td>
             <td>{{commandDetail.id}} </td>
           </tr>
           <tr >
             <td>reference</td>
             <td>{{commandDetail.reference}} </td>
           </tr>
           <tr >
             <td>orderDate</td>
             <td>{{commandDetail.orderDate}} </td>
           </tr>
           <tr >
             <td>regulationDate</td>
             <td>{{commandDetail.regulationDate}} </td>
           </tr>
           <tr >
             <td>total</td>
             <td>{{commandDetail.total}} </td>
           </tr>
           <tr >
             <td>orderStatus</td>
           <td>{{commandDetail.orderStatusVo.label}} </td>
           </tr>
           <tr >
             <td>client</td>
            <td>{{commandDetail.clientVo.id}} </td>
           </tr>
           <tr >
             <td>admin</td>
           <td>{{commandDetail.adminVo.code}} </td>
           </tr>
           <tr >
             <td>delivery</td>
           <td>{{commandDetail.deliveryVo.code}} </td>
           </tr>
           <tr >
             <td>validator</td>
           <td>{{commandDetail.validatorVo.code}} </td>
           </tr>
           <tr >
             <td>orderLines</td>
             <td> <ul>
               <li *ngFor="let p of commandDetail.orderLinesVo">
          
                {{p.id}}  
               </li>
             </ul>
             </td>
           </tr>
           <tr >
             <td>remarque</td>
             <td>{{commandDetail.remarque}} </td>
           </tr>
           <tr >
             <td>adress</td>
             <td>{{commandDetail.adress}} </td>
           </tr>
           <tr >
             <td>city</td>
           <td>{{commandDetail.cityVo.name}} </td>
           </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
